<!-- Footer -->
<div class="pt-5"></div>

<footer class="footer-background border-top">

  <div class="container">

  <div class="row">

    <div class="col-lg-3 col-6">
      <h1 class="text-white">LIGEIA</h1>

    </div>
    <div class="col-lg-3 col-6">
      <p>About</p>
      <ul>
        <li><a href="{{ '/masthead/' | prepend: site.baseurl }}">Masthead</a></li>
        <li><a href="{{ '/submissions/' | prepend: site.baseurl }}">Submissions</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-6">
      <p>Archives</p>
      <ul>
        <li><a href="{{ '/archives/' | prepend: site.baseurl }}">Web Archives</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-6">
      <p>Follow</p>
      <ul>
        <li><a href="https://twitter.com/LigeiaMag" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/ligeiamag" target="_blank">Instagram</a></li>
      </ul>
    </div>

    </div>
  </div>

  <div class="container">

  <div class="row">
    <div class="col mt-5">
      <p><small>&copy; 2021 LIGEIA Magazine. Designed by <a href="https://www.seansam.com" target="_blank" class="authorsite">Sean Sam</a>.</small></p>
    </div>

    </div>
  </div>

</footer>
