<!-- Footer -->
<div class="pt-5"></div>

<footer class="text-dark bg-transparent border-top">
  <ul class="footer-menu text-muted">
    <li><a href="{{ '/masthead/' | prepend: site.baseurl }}">Masthead</a></li>
    <li><a href="{{ '/archives/' | prepend: site.baseurl }}">Archives</a></li>
    <li><a href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a></li>
  </ul>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center footer-list">
    <li class="list-inline-item">
      <a href="https://twitter.com/LigeiaMag" target="_blank">
         <i class="fab fa-twitter"></i>
     </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.instagram.com/ligeiamag" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank">
        <i class="fas fa-rss"></i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->
  <div class="col text-center pt-4">
    <p><small>Site designed by <a href="https://www.seansam.com" target="_blank">Sean Sam</a></small>
    <br>&copy; 2019 Ligeia Magazine</p>
  </div>
</footer>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ '/assets/js/vendor/modernizr-3.6.0.min.js' | prepend: site.baseurl }}"></script>
<script>
	window.jQuery || document.write('<script src="{{ '/assets/js/vendor/jquery-3.3.1.min.js' | prepend: site.baseurl }}"><\/script>')
</script>
<script src="{{ '/assets/js/plugins.js' | prepend: site.baseurl }}"></script>
<!-- Google Analytics-->
<script>
	window.ga = function() {
	     ga.q.push(arguments);
	   };
	   ga.q = [];
	   ga.l = +new Date();
       ga("create", "UA-117928825-2", "auto");
	   ga("send", "pageview");
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
