<nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-lg-flex fixed-top border-bottom mb-5">
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMain" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMain">
            <a class="dropdown-item" href="{{ '/masthead/' | prepend: site.baseurl }}">
              Masthead
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a>
          </div>
        </li>
    </ul>
  </div>
  <div class="mx-auto my-2 order-0 order-md-1 position-relative">
    <a class="mx-auto" href="{{ '/' | prepend: site.baseurl }}">
      <img src="{{ '/assets/img/ligeia3.png' | prepend: site.baseurl }}" class="rounded-circle" style="max-height:60px;" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item">
        <a class="nav-link" href="{{ '/submissions/' | prepend: site.baseurl }}">
          Submissions
        </a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link px-2" target="_blank" href="https://twitter.com/LigeiaMag">
          <span class="fab fa-twitter"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- Mobile Nav -->
<nav class="navbar navbar-expand-lg  navbar-light bg-light d-flex d-lg-none fixed-top border-bottom">
  <div class="collapse navbar-collapse w-100 order-1 order-lg-0" id="navbarMobileMenu">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ '/masthead/' | prepend: site.baseurl }}">
                  Masthead
                </a>
                <a class="dropdown-item" href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a>
              </div>
            </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/submissions/' | prepend: site.baseurl }}">
          Submissions</a>
      </li>
      <li class="nav-item"><a class="nav-link" target="_blank" href="https://twitter.com/LigeiaMag">Twitter</a></li>
    </ul>
  </div>
  <div class="d-flex w-100 order-0">
    <div class="w-100">
      <button class="navbar-toggler collapsed second-button" type="button" data-toggle="collapse" data-target="#navbarMobileMenu" aria-controls="navbarMobileMenu" aria-expanded="false"  aria-label="Toggle navigation">
        <span class="animated-icon2">
          <span></span><span></span><span></span><span></span>
        </span>
      </button>
    </div>
    <a class="mx-auto" href="{{ '/' | prepend: site.baseurl }}">
      <img src="{{ '/assets/img/ligeia3.png' | prepend: site.baseurl }}" class="rounded-circle" style="max-height:50px;"/>
    </a>
    <span class="w-100"></span>
  </div>
  <span class="w-100"></span>
</nav>
<!-- Content -->
