<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top border-bottom mb-5">
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 ">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMain" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMain">
          <a class="dropdown-item" href="{{ '/masthead/' | prepend: site.baseurl }}">
            Masthead
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownArchives" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Archives
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMain">
            <a class="dropdown-item" href="{{ '/archives/' | prepend: site.baseurl }}">Web Archives</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ '/ebooks/' | prepend: site.baseurl }}">
          Ebook Downloads
          </a>
        </div>
      </li>
    </ul>
  </div>
<!-- Mobile Ligeia Logo -->
<div class="d-md-none d-flex w-100 order-0">
    <div class="w-100">
      <button class="navbar-toggler collapsed second-button" type="button" data-toggle="collapse" data-target=".dual-collapse2" aria-expanded="false"  aria-label="Toggle navigation">
        <span class="animated-icon2">
          <span></span><span></span><span></span><span></span>
        </span>
      </button>
    </div>
    <a class="mx-auto" href="{{ '/' | prepend: site.baseurl }}">
      <img src="{{ '/assets/img/ligeia3.png' | prepend: site.baseurl }}" class="rounded-circle cell" alt="Ligeia Picture"/>
    </a>
    <span class="w-100"></span>
</div>
<!-- Desktop Logo -->
<div class="order-2 d-none d-md-block">
  <a class="" href="{{ '/' | prepend: site.baseurl }}">
    <img src="{{ '/assets/img/ligeia3.png' | prepend: site.baseurl }}" class="rounded-circle  desk" alt="Ligeia Desktop Picture" />
  </a>
</div>

  <div class="navbar-collapse collapse w-100 dual-collapse2 order-3">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ '/submissions/' | prepend: site.baseurl }}">Submissions</a></li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/search/' | prepend: site.baseurl }}">
          Search
          </a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link px-2" target="_blank" href="https://twitter.com/LigeiaMag">
          <span class="fab fa-twitter"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" target="_blank" href="https://www.instagram.com/ligeiamag">
          <span class="fab fa-instagram"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- Content -->
