<div class="jumbotron jumbotron-fluid" style="margin-top:5.5rem; ">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col text-center my-auto pb-4">
        <div class="m-2 p-2 m-md-3 p-md-3">
          <h5 class="text-center issuename pb-5">
            <a href="{{ '/fall-2019' | prepend: site.baseurl }}">Fall 2019</a>
          </h5>
          <h1 class="text-center display-4 mainpagename" style="word-wrap: break-word;">
            {{ page.title }}
          </h1>
          <p class="text-center authortitle divided">
            <!-- Look the author details up from the site config. -->
            {% assign author = site.data.authors[page.author] %}
            <!-- Output author details if some exist. -->
            {% if author %} <span class="entryby">By</span> {{ author.name }}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
