

  <div class="d-flex justify-content-center py-5 post-share">
  <div class="p-2">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank" id="facebook-link">
      <span class="fab fa-facebook-f" aria-hidden="true"></span>
    </a>
  </div>
  <div class="p-2">
    <a  href="https://twitter.com/intent/tweet?&text={{ page.url | prepend: site.url }}" target="_blank" id="twitter-link">
      <span class="fab fa-twitter" aria-hidden="true"></span>
    </a>
  </div>
  <div class="p-2"></div>
</div>
