/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   @font-face {
       font-family: 'linux_libertine';
       src: url('../fonts/linux/linlibertine_rah-webfont.woff2') format('woff2'),
            url('../fonts/linux/linlibertine_rah-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
   }

   @font-face {
       font-family: 'linux_libertine';
       src: url('../fonts/linux/linlibertine_riah-webfont.woff2') format('woff2'),
            url('../fonts/linux/linlibertine_riah-webfont.woff') format('woff');
            font-weight: normal;
            font-style: italic;
   }

@font-face {
    font-family: 'linux_libertine_capismallcaps';
    src: url('../fonts/linux/linlibertine_as-webfont.woff2') format('woff2'),
         url('../fonts/linux/linlibertine_as-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'linux_libertine';
    src: url('../fonts/linux/linlibertine_rzah-webfont.woff2') format('woff2'),
         url('../fonts/linux/linlibertine_rzah-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'linux_libertine';
    src: url('../fonts/linux/linlibertine_rziah-webfont.woff2') format('woff2'),
         url('../fonts/linux/linlibertine_rziah-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

/* Foundations */
html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.4rem;
}

.text-danger {
  color: #be3d48 !important;
}

@media (max-width: 575.98px) {
  body, blockquote {
    font-size: 1.125rem !important;
  }
}

p, p.entrytitle, #results-container, .entryby, footer, .authortitle, #search-input, .issuename, form, table, th, td,  .issuename {
  font-family: 'linux_libertine', Georgia, serif;
}

body, p.entrytype, p.mast,  .archivefont {
  font-family: 'linux_libertine','linux_libertine_capismallcaps', Georgia, serif;
}

.mainpagename {
  font-family: 'linux_libertine', 'linux_libertine_capismallcaps', Georgia, serif;
  font-weight: normal !important;
  word-wrap: break-word;
}

.light-weight {
  font-weight: 400;
}
p.category, p.relatedpostauthor {
    font-family: 'linux_libertine', Georgia, serif;
}

.front-page-title {
    font-family: 'linux_libertine', Georgia, serif;
    text-transform: uppercase;
    letter-spacing: .12rem;
}

nav {
    font-family:  'linux_libertine', Georgia, serif;
    letter-spacing: .12rem;
    font-size:1.1rem;
  }

.datetype {
  font-size: 1rem;
  text-transform: capitalize;

}

p.entrytype, h3, h2, .footer-menu, p.category {
  font-family: 'linux_libertine', Georgia, serif;
  font-weight: bold;
}
.authortitle {
  font-style: italic;
}

/* Related Posts */
p.category {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}
p.relatedpost {
  font-size: 1.2rem;
}
.flexmeup {
  min-height: 100vh;
}

.ligeia-title {
  text-transform: uppercase;
  letter-spacing: .18rem;
  font-weight: normal;
  word-wrap: break-word;
}

.fictionpost p {
  text-indent: 1.5em;
  margin-bottom: 0rem;
}

.link-posts p, .link-pages p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}


.bookquote  {
  padding-left: 1.5rem;
}



blockquote {
  font-style: italic;
  color: #be3d48;
}
.blockquote p.h2 {
  line-height: 2.2rem;
}
.issuename {
  text-transform: uppercase;
    letter-spacing: .05rem;
}
 .entryby {
  text-transform: lowercase;
}
p.entrytitle {
  margin-bottom: 0em;

}

.authorname {
  text-transform: lowercase;
}
.authorbiopic {
  max-height: 180px;
  display: block;
}

.firstparagraph {
  text-indent: 0em;
  margin-bottom: 0rem;
}
.stanza {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.poemline {
  text-indent: -1rem;
}
p.poemline {
  margin-bottom: 0rem;
}
.nick p {
    margin-bottom: 0rem;
}
.reidel-open {
  text-indent: 3rem;
  font-style: italic;
  margin-bottom:0rem;
}
.reidel-close{
  text-indent: 16rem;
  font-style: italic;
}

.jahn-indent{
  text-indent:3.5rem;
}

.andres-indent1{
  text-indent:1.1rem;
}
.andres-indent2{
  text-indent:3rem;
}

.footnotes{
  font-size: 85%;
}

.shortspace {
  padding: .25rem 0rem;
}
/* Post Styles */

p.firstparagraph:first-child::first-letter {
  padding: 0 0.3rem;
  margin: 0rem 0.3rem 0 0;
  font-size: 5rem;
  float: left;
  line-height: 0.9;

}
.u-release {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  text-align:center;
}

.bio-content {
  font-size:90%;
}

.front-issue-name {
  font-size: 90%;
  letter-spacing: .05rem;
  font-family: 'linux_libertine', Georgia, serif;
  text-transform: uppercase;
}

h2 {
  margin-bottom:1rem !important;
}
/* Jumbotron */
.jumbotron {
  margin-bottom: 1rem !important;
  padding-bottom: 2rem !important;
  background-color: white !important;
}
.padding-main {
  margin-top:5.5rem;
}
/* Post Full Width Jumbotron */
div.jumbotron.jumbotron-fluid {
  background-color: #fff;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 0% 60%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 0% 80%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

img.desk {
    max-height:60px;
}
img.cell {
    max-height:50px;
}
/* For Full Width Images in Posts (need to test in IE)  */
.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.full-width-image img {
  width: 100%;
}

/* Jumbotron */
.jumbotron {
  margin-bottom: 1rem !important;
  padding-bottom: 2rem !important;
  background-color: white !important;
}
/* Mail Modal */
.mailtoui-modal {
      background-color: rgba(250,250,250,0.5);
      color: #fff;
      font-family: Georgia;
}

/* Ebook Cover Mockup */

.ebook {
  max-height:25rem;
}

/* For Poetry with Formatting Problems */

.poetryfont {
  font-size:1.3rem;
}


/* For Full Width Images in Posts (need to test in IE)  */
.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.full-width-image img {
  width: 100%;
}

/* Links */
a {
  text-decoration: none;
}

.post-share a:hover {
  color:#be3d48
}

.link-posts a:hover, .link-posts a:active, .link-posts a:focus, .link-pages a:hover, .link-pages a:active, .link-pages a:focus {
    color: #000;
    text-decoration: none;
}
.link-posts a:active, .link-posts a:hover, .link-pages a:active, .link-pages a:hover {
    outline-width: 0;
}

.link-posts a:link {
  border-bottom: 1px solid black;
  text-decoration: none;
  color:#343a40;
}
.link-pages a:link {
  border-bottom: 1px solid transparent;
  transition: border-bottom 500ms;
  text-decoration: none;
  color:#343a40;
}

.link-posts a:visited,.link-pages a:visited {
  color: #343a40;
}

.link-pages a:hover {
    border-bottom: 1px solid black;
}

a#twitter-link, a#facebook-link{
  border-bottom: none !important;

}
.issuename a {
   border-bottom: 1px solid black !important;
   text-decoration: none !important;
   color:#343a40;
 }

a.frontpagelink  {
  text-decoration: none;
  color: #343a40;
}
.frontpagelink:hover {
  text-decoration: none !important;
}

/* Footer Fonts and colors */



.footer-background {
  background-color: #0f0f0f;
  padding: 4rem 0rem 4rem .5rem;
}


footer p {
  color: #fff;
}

footer a:link {
  border-bottom: 1px solid transparent;
  transition: border-bottom 500ms;
  text-decoration: none;
  color:#aaa;
}

footer a:visited {
  color: #aaa;
}

footer a:hover {
    color: white;
}

footer ul, footer p {
  font-size: 1rem;
}

footer ul {
  list-style-type: none;
  padding-left: 0rem;
}


.footer-list li a i, .post-share a#twitter-link, .post-share a#facebook-link
 {
  color: rgba(0,0,0,.5);
  }
.footer-list li a i:hover,.post-share a#twitter-link:hover, .post-share a#facebook-link:hover  {
  color: rgba(0,0,0,.7);
  border-bottom: none !important;
    }
.footer-list li a:hover {
      border-bottom: none !important;
        }
.footer-list li a i:active, .post-share a#twitter-link:active, .post-share a#facebook-link:active {
color: rgba(0,0,0,.7);
        }


.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.9);
  }

.link-posts a.postsissuereturn {
  text-decoration: none;
  border-bottom: none;
  color: #be3d48;
  font-weight: bold;
  font-family: 'linux_libertine','linux_libertine_capismallcaps', Georgia, serif;
  font-size: 1.3rem;
}
 a.postsissuereturn:hover {
    border-bottom: 1px solid black;
}

/* related post box */




/* Footer List */
ul.footer-menu {
  text-align: center;
  list-style-type: none;
  padding: 0rem;
  margin: 2rem 0rem;
}
ul.footer-menu > li {
    padding: 1rem 0rem 0rem;
}
@media (min-width: 768px) {

  .footer-menu li {
    display: inline;
  }
  ul.footer-menu > li:nth-child(2) {
      padding-left:1rem;
  }
  ul.footer-menu > li:nth-child(3) {
      padding-left:1rem;
  }
}
/* Open Embed */
.videoWrapper {
  position: relative;
  padding-bottom: 56.333%;
  height: 0;
  background: black;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Contributors Page */
.contributors {
  list-style-type: none;
  padding: 0rem;
}
.contributors li {
  font-family: 'linux_libertine', Georgia, serif;
}

/* Icon 1 */

.animated-icon2 {
    display: block;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 05px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon2 span {
  background: gray;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}
button.navbar-toggler:focus {
  outline: 5px none;
}
/*  Image Zoom Effect */
.view {
  position: relative;
  overflow: hidden;
}
.zoom img,
.zoom video {
  -webkit-transition: all 0.2s linear;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.zoom:hover img,
.zoom:hover video {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.view img,
.view video {
  position: relative;
  display: block;
}
.overlay .mask {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.overlay .mask {
  opacity: 1;
}

.view .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.flex-center p {
  margin: 0;
  color: white;
}
.filtered-image {
  filter: brightness(60%);
}
.filtered-image-2 {
  filter: brightness(90%);
}
/* Image Shadow */

@media (min-width: 768px) {
  .z-depth {
    display: block;
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 12px 15px 0px,
      rgba(0, 0, 0, 0.19) 0px 17px 50px 0px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  }
  .blockquote p.h2 {
    line-height: 2.8rem;
}
}

/* Font for Footer Links Names */

.divided::after {
  content: "";
  border: 0;
  display: block;
  width: 152px;
  height: 12px;
  margin: 1em auto 0;
  background: url(../img/assets/divider.svg) no-repeat top center;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 1);
  border-color: rgba(255, 255, 255, 0.1);
}
.first {
  margin-top: 8rem;
}
hr {
  margin: 3em 0;
  height: 6px;
	background: url(../img/assets/hr-11.png) repeat-x 0 0;
    border: 0;
}
hr.feature-style {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: 1px solid #333;
  color: #333;
  text-align: center;
  margin: 4em 0;
}


@media (max-width: 1199.98px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}

/* Card CSS

.card-box {
  border: 10px solid;
    border-image-source: url(../img/assets/border.jpg);
    border-image-slice: 50 50;
}
*/

.card-main-info {
  padding: 1.6rem 1rem;
}

.card-text {
  font-size:1.2rem;
}
.tomato {
  background-color: #be3d48;
  color: #fff;
}

.card-box {
  border: 5px double #808080;
}

div.card-body p a.related-post-links {
  border-bottom: none;
  text-decoration: none;
  color:#2C3736;
  font-family: 'linux_libertine', serif;
  font-size:1.2rem;
  font-weight: bold;
}

a.related-post-links i.fas.fa-angle-double-right {
  color:#be3d48;
  font-size:1.1rem;
}
/* Front Page Buttons * /
/**** BTN No. 12 ****/
.custom-btn {
  padding: 10px 25px;
  font-family: Georgia, serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-12 {
  border: 2px solid #000;
  z-index: 1;
}
.btn-12:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}
.btn-12:hover {
  color: #fff;
}
.btn-12:hover:after {
  top: 0;
  height: 100%;
}
.btn-12:active {
  top: 2px;
}

/*
============
Footer Flex
===========
*/
.outerwrapper {
  display:flex;
    flex-direction: column;
    display: -ms-flexbox;
    -ms-flex-direction: column;
}
.firstwrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* Without OVerflow hidden, the spacing will be messed up on Internet Explorer */
.wrapper {
    flex: 1 0 auto;
      overflow: hidden;
}
@-moz-document url-prefix() {
 .wrapper {
      flex: 1;
    }
}
/*
============
End Footer Flex
===========
*/
