<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="outerwrapper">
     <div class="firstwrapper">
      <main class="wrapper">
        {% include nav.html %}
        <section class="link-posts">
          {% include postsintro.html %}
          <div class="container">
            <div class="row">
              {{ content }}
          </div>
        </div>

              <div class="container">
                <div class="row">
                <div class="col-lg-6 mx-auto px-4 px-lg-0">
              {% include socialshare.html %}
              {% include authorbio.html %}
            </div>
            </div>
          </div>
              {% include relatedposts.html %}
      </section>
    </main>
    {% include footer.html %}
    </div>
   </div>
    {% include scripts.html %}
        <link rel="stylesheet" href="{{ '/assets/css/app.css' | prepend: site.baseurl }}"/>

  </body>
</html>
